.App {
  padding: 20px;
  text-align: left;
}

// adding these below two here because tis logic applies globally
.won-card {
  background-color: #4da375;
}

.lost-card {
  background-color: #a34d5d;
}
